@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial;
}

header nav .navList {
  display: flex;
  list-style-type: none;
  gap: 1rem;
}
header nav .navList li a {
  text-decoration: none;
  color: black;
  padding: 1.5rem;
}

@media (hover: hover) {
  header .nav a:hover {
    color: yellow;
    background-color: black;
  }
}
footer {
  background-color: yellow;
  position: relative;
  bottom: 0;
  padding: 3vh;
  text-align: center;
}

header .redes div {
  justify-content: center;
  align-items: center;
}
header .redes div a {
  text-decoration: none;
  color: black;
}

@media (hover: hover) {
  header div a:hover {
    color: yellow;
  }
}
.ayuda1 button {
  background-color: yellow;
}
.ayuda1 h2 {
  margin: 0;
  padding: 1rem;
  gap: 10px;
  text-align: center;
}
.ayuda1 .garantia {
  margin: 1rem 1rem;
}
.ayuda1 p {
  text-align: start;
}

header .logo img {
  max-width: 100vh;
  margin-bottom: 1rem;
}

.beneficios {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 10rem;
  margin: 5rem;
}
.beneficios .card-body {
  text-align: center;
}
.beneficios .card-body a {
  background-color: yellow;
  color: black;
}

.containerItems {
  display: grid;
  padding: 1rem;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 0.2fr;
}
.containerItems img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  transition: all 0.4s;
}
.containerItems .item {
  border-radius: 5px;
}
.containerItems .item figure {
  overflow: hidden;
}
.containerItems .infoProducto {
  margin: 20px;
  padding: 10px 15px;
  line-height: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.precio {
  font-size: 18px;
  font-weight: 800;
  border: none;
  background: none;
  background-color: yellow;
  padding: 15px 10px;
  cursor: pointer;
}
.precio a {
  text-decoration: none;
  color: black;
}

.item:hover {
  box-shadow: 0 5px 10px rgb(82, 100, 4);
}
.item:hover img {
  transform: scale(1.2);
}

.sobrenosotros {
  text-align: center;
  margin: 20px;
}
.sobrenosotros h2 {
  gap: 3rem;
  margin: 10px;
}
.sobrenosotros img {
  width: 500px;
  height: 100%;
  margin: 10px;
}

header {
  display: flex;
  background-color: yellow;
  align-items: center;
  justify-content: space-between;
  border: 3px solid #000;
  padding: 1rem;
}
header .abrir-menu {
  display: none;
}
header .cerrar-menu {
  display: none;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "leo1 leo1" "leo2 leo3";
  gap: 1rem;
  margin: 5rem;
}

main div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.EJEMPLO1 {
  grid-area: leo1;
}

.EJEMPLO2 {
  grid-area: leo2;
}

.EJEMPLO3 {
  grid-area: leo3;
}

@media screen and (max-width: 968px) {
  .main {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "leo1 leo2" "leo3 leo3";
    margin: 10%;
  }
  header {
    z-index: 100;
  }
  header .abrir-menu,
  header .cerrar-menu {
    display: block !important;
    border: 0 !important;
    font-size: 1.8rem !important;
    background-color: yellow !important;
  }
  header .containerItems {
    display: grid;
    padding: 1rem;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 0.2fr;
  }
  header .nav {
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    position: absolute !important;
    top: 0;
    right: 0;
    gap: 1rem;
    background-color: yellow !important;
    bottom: 0;
    padding: 2rem;
  }
  header .nav .navList {
    flex-direction: column;
    align-items: end;
  }
  header .logo img {
    max-width: 100rem;
    padding: 0;
    margin: 0;
  }
  header .redes {
    display: none;
  }
  header .nav.visible {
    opacity: 1 !important;
    visibility: visible;
  }
  .beneficios {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr;
    gap: 0.5rem;
  }
}
@media screen and (max-width: 500px) {
  .containerItems {
    display: grid;
    padding: 1rem;
    gap: 1rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .main {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "leo1" "leo2" "leo3";
    margin: 5%;
  }
  header {
    z-index: 100;
  }
  header .logo img {
    width: 90%;
    height: auto;
    margin: 0;
    padding: 0;
  }
  .beneficios {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0.3rem;
  }
  .sobrenosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .sobrenosotros img {
    width: 80%;
  }
}

/*# sourceMappingURL=style.css.map */
