.ayuda1 {
    h2{
        margin: 0 ;
        padding: 1rem;
        gap: 10px;
        text-align: center;
        
    }
    
    .garantia{
        margin: 1rem 1rem;    
        }
        p{
            text-align: start;
        }
    }






