header{
    nav{
        justify-content: center;
        text-align: center;
        margin: 0;
        background-color: yellow;
        ul{
            a{
                text-decoration: none;
                justify-content: center;
                text-align: center;
                margin-top: 1rem;
                padding: 2rem;
                color: darken($color: #000000, $amount: 0);
            }
            
        }
    }
}

@media (hover:hover){
    header{
            .nav{
                a:hover{
                color:yellow;
                background-color: black;
            }
        }
    }
}




