header{
    nav{
        .navList{
            display: flex;
            list-style-type: none;
            gap: 1rem;
            li{
                a{
                    text-decoration: none;
                    color: darken($color: #000000, $amount: 0);
                    padding: 1.5rem;
                }
            }    
        }
    }
}
@media (hover:hover){
    header{
            .nav{
                a:hover{
                color:yellow;
                background-color: black;
            }
        }
    }
}




